.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title{
  font-size: 25px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 15px auto;
}
